@font-face {
  font-family: 'font-main';
  src: url('../fonts/main/PlayfairDisplay-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'font-secondary';
  src: url('../fonts/secondary/Roboto-Regular.ttf');
}

//variables

:root {
  --shadow-main: 8px 8px 20px -10px rgba(66, 68, 90, 1);
  --shadow-text: 4px 4px 6px rgba(66, 68, 90, 1);

  --color-theme: rgba(9, 142, 174, 255);
  --color-font-light: white;
  --color-font-dark: black;
  font-size: calc(1vw + 10px);
}

* {
  box-sizing: border-box;
}

html {
  color: var(--color-font-dark);
}

body {
  display: grid;
  justify-content: center;

  header {
    background: linear-gradient(
      -30deg,
      rgba(255, 255, 255, 1) 40%,
      rgba(8, 145, 178, 1) 40%
    );
    .picture {
      padding: 2rem;
    }
  }
}

svg {
  width: 20px;
  fill: black;
}
