@font-face {
  font-family: 'font-main';
  src: url('../fonts/main/PlayfairDisplay-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'font-secondary';
  src: url('../fonts/secondary/Roboto-Regular.ttf');
}

//variables

:root {
  --shadow-main: 8px 8px 20px -10px rgba(66, 68, 90, 1);
  --shadow-text: 4px 4px 6px rgba(66, 68, 90, 1);

  --color-theme: rgba(9, 142, 174, 255);
  --color-font-light: white;
  --color-font-dark: black;
  --color-font-secondary-dark: rgb(94, 94, 94);

  --font-size: clamp(20px, 3.5vw, 48px);
  --font-size-headings: calc(0.8em + 10vw);

  --padding-content: 6%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  color: var(--color-font-dark);
}

h1,
h2,
h3,
h4 {
  font-family: 'font-main';
  font-weight: lighter;
}

h2 {
  text-align: center;
  font-size: calc(var(--font-size-headings) - 1rem);
}
h3 {
  font-size: calc(0.2em + 6vw);
}

p {
  font-family: 'font-secondary';
  color: var(--color-font-secondary-dark);
}

svg {
  fill: black;
  width: 2rem;
}

body {
  display: grid;
  justify-content: center;
  font-size: var(--font-size);

  header {
    display: grid;
    gap: 5vw;
    margin: 0 auto;
    background: linear-gradient(
      -30deg,
      rgba(255, 255, 255, 1) 55%,
      rgba(8, 145, 178, 1) 55%
    );
    .picture {
      display: grid;
      padding: 10% 10% 0 10%;
      align-items: end;
      h1 {
        margin: 0.5rem;
        width: min-content;
        color: var(--color-font-light);
        text-shadow: var(--shadow-text);
        font-size: calc(var(--font-size-headings) + 1rem);
      }

      img {
        max-width: 100%;
        box-shadow: var(--shadow-main);
      }

      h1,
      img {
        grid-row: 1/1;
        grid-column: 1/1;
      }
    }
    .description {
      display: grid;
      padding: 1rem var(--padding-content);
      p {
        padding: 5vw 0;
        letter-spacing: 2px;
        font-size: calc(var(--font-size) + 0.7rem);
      }
    }
    .socials {
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(3, min-content);
      gap: 15%;
      svg {
        width: clamp(1rem, 10vw, 4rem);
      }
    }
  }
}

main {
  margin-top: 8rem;
  padding: var(--padding-content);
  display: flex;
  flex-direction: column;
  gap: 10vw;
  h2 {
    margin: 0 auto;
  }
  .mainHeader {
    padding: 2rem;
  }

  .projectBox {
    box-shadow: var(--shadow-main);
    .projectImage {
      aspect-ratio: 1;
      display: flex;
      align-items: center;
      h2 {
        width: min-content;
        color: white;
      }
      &.one {
        background-color: #7c75ca;
      }
      &.two {
        background-color: #d88f39;
      }
      &.three {
        background-color: #5e8f4d;
      }
      &.four {
        background-color: #ca7599;
      }
      &.five {
        background-color: #4692d9;
      }
      &.six {
        background-color: #5e8f4d;
      }
    }
    .projectNameBox {
      display: flex;
      padding: 2rem 5vw 3rem 10vw;
      gap: 5vw;
      svg {
        width: calc(1rem + 5vw);
        &:first-of-type {
          width: calc(0.7rem + 5vw);
          margin-left: auto;
        }
      }
    }
    p {
      aspect-ratio: 3;
      padding: 2vw 10% 0 10%;
    }
  }
}

footer {
  color: white;
  background-color: #0891b2;
  .footerContainer {
    padding: var(--padding-content);
    display: flex;
    flex-direction: column;
    gap: 5vw;
    p {
      color: white;
      &.bigger {
        font-size: calc(var(--font-size) + 0.7rem);
      }
    }
    .tel, .mail {
      display: flex;
      gap: .5rem;
      svg {
        fill: white;
        height: calc(var(--font-size) + .2rem);
      }
    }
  }
  .socials {
    display: flex;
    justify-content: center;
    gap: 10vw;
    padding: 1rem 0 3rem 0;
    svg {
      width: calc(.8rem + 8vw);
    }
  }
  .footerImage {
    img {
      width: 100%;
    }
  }
}
